@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

body {
    background-color: #3a88c3;
    text-align: center;
    font-family: "Roboto";
}